.header .nav-item-hover:after,
.header .navbar-toggle:hover .toggle-icon,
.header .navbar-toggle:hover .toggle-icon:after,
.header .navbar-toggle:hover .toggle-icon:before {
  background-color: rgba(255, 0, 0, 0.7);
}

.navbar {
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 0;
}

#hero {
  height: 100vh;
  background: linear-gradient(
      to bottom right,
      rgba(5, 5, 5, 0.45),
      rgba(5, 5, 5, 0.475),
      rgba(5, 5, 5, 0.465)
    ),
    url(../img/hero.jpg) no-repeat;
  background-size: cover;
  filter: contrast(95%) brightness(85%);
  display: flex;
  align-items: center;
  padding: 170px 60px 0px 150px;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.hero_content h1 {
  font-size: 7.5em;
  font-weight: 900;
  max-width: 700px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 50px;
}

.hero_links {
  display: flex;
  flex-wrap: wrap;
}

.hero_links a {
  font-size: 1.05em;
  color: #fff;
  /* padding: 0 12px 0 0px; */
  padding: 0 10px;
  line-height: 1.75;
  position: relative;
}

/* .hero_links a:not(:first-child) {
  padding-left: 8px;
}

.hero_links a:not(:last-child) {
  border-right: 2px solid #fff;
} */

.hero_links a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -2px;
  height: 65%;
  width: 2px;
  background-color: #fff;
}

.hero_links .last a::after {
  display: none;
}

/* footer */
.footer {
  background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)),
    url(../img/1920x1080/02.jpg) no-repeat;
  background-size: cover;
  filter: brightness(90%);
}

.footer .subscribe {
  margin-bottom: 110px;
  display: flex;
  align-items: center;
}

.footer .subscribe_item {
  position: relative;
}

.footer .subscribe_item h2 {
  font-size: 2.25em;
  color: #fff;
}

.footer .subscribe_item p {
  color: #fff;
}

.footer .subscribe input {
  border-radius: 4px;
}

.form-control,
.form-control:focus {
  color: #cfcfcf;
}

a,
a i,
button {
  transition: 0.35s ease;
}

.footer .subscribe button {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 12px 15px 10px;
  border-radius: 4px;
  background-color: #cfcfcf;
  color: #222;
}

.footer .subscribe button:hover {
  background-color: #fff;
}

.quick_link_item .quick_link_title {
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.quick_link_item .footer-list-item {
  margin-bottom: 10px;
}

.quick_link_item .footer-list-link,
#footer_year,
.footer_bottom a {
  font-size: 15px;
  color: #cfcfcf !important;
}

.quick_link_item.contact > p {
  margin-bottom: 20px;
  color: #cfcfcf;
}

.footer_contact_links p {
  margin-bottom: 10px;
}

.footer_contact_links p i {
  margin-right: 4px;
}

.footer_contact_links p i.fa-phone {
  transform: rotate(95deg);
}

.social_links {
  margin-top: 20px;
}

.social_links a {
  margin: 10px 15px 10px 0;
}

.social_links a i {
  font-size: 20px;
  color: #cfcfcf;
}

.social_links a i:hover,
.quick_link_item .footer-list-link:hover,
.footer_bottom a:hover {
  color: #fff !important;
}

.left_contents p {
  text-align: left;
}
.right_contents p {
  text-align: right;
}

.footer_bottom p {
  color: #cfcfcf;
  margin-bottom: 0;
}

@media screen and (min-width: 991px) {
  .header .nav-item-hover:after {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    width: 0%;
    height: 1.5px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
  }

  .header .nav-item-hover.active:after {
    width: 40%;
  }

  /* .header .nav-item-child:hover {
    color: #999caa;
  } */

  .header .nav-item-child:hover:after {
    width: 40%;
  }

  .header .nav-item:last-child .nav-item-child {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }

  #hero {
    padding: 170px 60px 0px 100px;
  }

  .hero_content {
    padding-top: 40px;
  }

  .hero_content h1 {
    font-size: 6.5em;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 769px) {
  .hero_content h1 {
    font-size: 5.75em;
  }

  .hero_links a {
    font-size: 1em;
  }

  #hero {
    padding: 200px 50px 0px 50px;
  }
}

@media screen and (max-width: 660px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  #hero {
    padding: 200px 30px 0px 30px;
  }

  .hero_content h1 {
    font-size: 4.75em;
    margin-bottom: 30px;
  }

  .footer .subscribe {
    flex-direction: column;
  }
}

@media screen and (max-width: 470px) {
  .hero_content h1 {
    font-size: 3.75em;
  }
}

@media screen and (max-width: 426px) {
  .header .menu-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero_links a {
    font-size: 0.85em;
  }

  .left_contents,
  .right_contents {
    text-align: center;
  }

  .left_contents {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 376px) {
  .header .menu-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #hero {
    padding: 200px 15px 0px 15px;
  }
  .hero_content h1 {
    font-size: 3em;
  }
}
