@import url(/css/smooth-scroll.css);

body {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.header .nav-item-hover:after,
.header .navbar-toggle:hover .toggle-icon,
.header .navbar-toggle:hover .toggle-icon:after,
.header .navbar-toggle:hover .toggle-icon:before {
  background-color: rgba(255, 0, 0, 0.7);
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover,
.link:hover {
  color: rgba(255, 0, 0, 0.7);
}

.link:after {
  /* background: #17bed2; */
  left: 0;
  top: 18px;
  width: 100%;
  /* background-color: rgba(255, 0, 0, 0.7); */
  background-color: #ccc;
}

.navbar {
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 0;
}

.header .logo-img {
  width: 90px;
}

.hero {
  position: relative;
}

.full_height,
#page_header {
  background: linear-gradient(
      to bottom right,
      rgba(5, 5, 5, 0.45),
      rgba(5, 5, 5, 0.45),
      rgba(5, 5, 5, 0.45)
    ),
    url(../img/hero.jpg) no-repeat;
  background-size: cover;
  filter: contrast(90%) brightness(90%);
  display: flex;
  align-items: center;
  padding: 200px 60px 0px 150px;
  overflow: hidden;
}

.full_height {
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.985),
    rgba(0, 0, 0, 0.985),
    rgba(0, 0, 0, 0.985)
  );
  padding: 0 50px 50px;
}

#page_header {
  /* max-height: 550px; */
  height: initial;
  background: url(../img/hero.jpg) no-repeat cover;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.hero_content.about_holdings_content {
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  padding: 0;
}

.hero_content h1 {
  font-size: 7.5em;
  font-weight: 900;
  max-width: 780px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 40px;
  padding-left: 8px;
}

.about_holdings_content_left {
  /* max-width: 650px; for img tag*/
  width: 650px;
  padding: 0 20px 0 20px;
}

.about_holdings_content_left img.hidden-lg {
  display: none;
}

.about_holdings_content_left .description {
  margin-top: 30px;
  letter-spacing: 1px;
}

.about_holdings_content_left .description h3,
.about_holdings_content_left .description p,
.about_holdings_content_left .description span {
  font-weight: 300;
}

.about_holdings_content_left .description h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}
.about_holdings_content_left .description p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #dadada;
}
.about_holdings_content_left .description span {
  font-size: 13px;
  color: #dadada;
}

.about_holdings_content_left .image_bg {
  background: url(../img/dr-teniolaa_flip-removebg.png) no-repeat;
  background-position: 50% top;
  height: 110%;
  overflow: hidden;
}

.about_holdings_content_right {
  max-width: 750px;
  padding: 60px 20px 0px;
}

.about_holdings_content_right p {
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #fff;
}

.about_holdings_content_right p.intro {
  font-size: 2em;
  font-weight: 300;
  line-height: 45px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #fff;
  /* text-transform: uppercase; */
}

.hero_content.about_holdings_content h1 {
  margin-bottom: 0;
}

#page_header .hero_content h1 {
  max-width: 860px;
}

.hero_links {
  display: flex;
  flex-wrap: wrap;
}

.hero_links a {
  font-size: 1.05em;
  color: #fff;
  /* padding: 0 12px 0 0px; */
  padding: 0 10px;
  line-height: 1.75;
  position: relative;
}

/* .hero_links a:not(:first-child) {
  padding-left: 8px;
}

.hero_links a:not(:last-child) {
  border-right: 2px solid #fff;
} */

.hero_links a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -2px;
  height: 65%;
  width: 2px;
  background-color: #fff;
}

.hero_links .last a::after {
  display: none;
}

/* footer */
.footer {
  background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)),
    url(../img/1920x1080/02.jpg) no-repeat;
  background-size: cover;
  filter: brightness(90%);
  /* min-height: 100vh; */
}

.footer .subscribe {
  margin-bottom: 110px;
  display: flex;
  align-items: center;
}

.footer .subscribe_item {
  position: relative;
}

.footer .subscribe_item h2 {
  font-size: 2.25em;
  color: #fff;
}

.footer .subscribe_item p {
  color: #fff;
}

.footer .subscribe input {
  border-radius: 4px;
}

.form-control,
.form-control:focus {
  color: #cfcfcf;
}

a,
a i,
button {
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .subscribe button {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 12px 15px 10px;
  border-radius: 4px;
  background-color: #cfcfcf;
  color: #222;
}

.footer .subscribe button:hover {
  background-color: #fff;
}

.quick_link_item .quick_link_title {
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.quick_link_item .footer-list-item {
  margin-bottom: 10px;
}

.quick_link_item .footer-list-link,
#footer_year,
.footer_bottom a {
  font-size: 15px;
  color: #cfcfcf !important;
}

.quick_link_item.contact > p {
  margin-bottom: 20px;
  color: #cfcfcf;
}

.footer_contact_links p {
  margin-bottom: 10px;
}

.footer_contact_links p i {
  margin-right: 4px;
}

.footer_contact_links p i.fa-phone {
  transform: rotate(95deg);
}

.social_links {
  margin-top: 20px;
}

.social_links a {
  margin: 10px 15px 10px 0;
}

.social_links a i {
  font-size: 20px;
  color: #cfcfcf;
}

.social_links a i:hover,
.quick_link_item .footer-list-link:hover,
.footer_bottom a:hover {
  color: #fff !important;
}

.left_contents p {
  text-align: left;
}
.right_contents p {
  text-align: right;
}

.footer_bottom p {
  color: #cfcfcf;
  margin-bottom: 0;
}

/* about-us */
.sub_title {
  font-size: 1.075em;
  /* padding-top: 20px; */
  color: rgba(255, 0, 0, 0.7);
  text-shadow: 1.5px 1px rgba(0, 0, 0, 0.075);
  letter-spacing: 1px;
}

.custom_services .service .sub_title {
  font-size: 1.5em;
}

.main_title {
  font-size: 2em;
  font-weight: 300;
}

.main_title.font_lg {
  font-size: 3em;
}

.custom_services {
  background-image: url(../img/Oxford-Holdings-full-white.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 30% 70%;
}

.custom_services.character {
  background-image: url(../img/Oxford-Holdings-full-white.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 30% 70%;
  /* background: initial; */
}

.custom_services .service {
  background: transparent;
}

.custom_services .custom_ul {
  display: flex;
  flex-wrap: wrap;
}

.custom_services .custom_ul li {
  padding-right: 25px;
  margin-right: 15px;
  list-style-type: circle;
  font-size: 16px;
}

.custom_services .custom_ul li::marker {
  color: rgba(255, 0, 0, 0.7);
  font-size: 12px;
}

.core_values_section .service .service-icon {
  display: block;
  font-size: 24px;
  /* color: #999caa; */
  color: rgba(255, 0, 0, 0.7);
  border: 2px solid rgba(255, 0, 0, 0.7);
  width: fit-content;
  margin: 0 auto 20px;
  border-radius: 50%;
  padding: 10px;
}

.community_box_container {
  max-width: 700px;
  margin: auto;
}

.community_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 400px;
  margin: auto; */
  margin-bottom: 8px;
  border: 2px solid #bfc1c7;
  border-radius: 10px;
  padding: 10px 5px;
}

.community_box:hover {
  border-color: rgba(255, 0, 0, 0.7);
}

.community_box .community_box_left {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #bfc1c7;
}

.community_box .community_box_left i {
  font-size: 24px;
  color: rgba(255, 0, 0, 0.7);
}

.community_box .community_box_left span {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 4px;
}

.community_box .community_box_right span {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
/* .custom_about_us .title span {
  font-size: inherit;
  color: rgba(255, 0, 0, 0.7);
} */

.partner_image {
  max-width: 700px;
  margin: auto;
  position: relative;
}

.partner_image img {
  filter: grayscale(25%) saturate(95%);
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.partner_image img:hover {
  filter: grayscale(0%);
}

/* investments */
.investments_item img {
  width: 100%;
  height: 180px;
  -o-object-fit: contain;
  object-fit: contain;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}

.investments_item img[alt="Oxford International Group"] {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.investments_item > div:hover img {
  -o-transform: scale(1.085);
  -moz-transform: scale(1.085);
  -webkit-transform: scale(1.085);
  transform: scale(1.085);
}

.investments_item .image_container {
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  a.media_scroll_button[aria-label]:after {
    content: attr(aria-label);
    position: absolute;
    top: -32px;
    left: -100%;
    transform: translateX(-6px);
    font-size: 0.875em;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    padding: 3px 6px;
    line-height: 22px;
    width: 100%;
    color: #fff;
    text-transform: initial;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }

  a.media_scroll_button[aria-label]:hover:after {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 991px) {
  .header .nav-item-hover:after {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    width: 0%;
    height: 1.5px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
  }

  .header .nav-item-hover.active:after {
    width: 40%;
  }

  /* .header .nav-item-child:hover {
    color: #999caa;
  } */

  .header .nav-item-child:hover:after {
    width: 40%;
  }

  .header .nav-item:last-child .nav-item-child {
    padding-right: 20px;
  }

  #page_header .hero_content {
    padding-bottom: 40px;
  }

  #page_header .hero_content h1 {
    font-size: 6em;
  }
}

@media screen and (max-width: 1025px) {
  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero,
  #page_header {
    padding: 200px 60px 0px 100px;
  }

  .hero_content {
    padding-top: 40px;
  }

  .hero_content h1 {
    font-size: 6.5em;
  }

  .hero_content.about_holdings_content {
    /* display: grid;
    grid-template-columns: 450px 1fr; */
    flex-direction: column;
  }

  /* .about_holdings_content_left { */
  /* max-width: 650px; for img tag*/
  /* width: 650px;
    padding: 0 20px 0 20px;
  } */

  .about_holdings_content_left {
    display: none;
    /* width: 400px; */
  }

  /* .about_holdings_content_right {
    width: 400px;
  } */

  /* .about_holdings_content_left img.hidden-lg {
    display: block;
    margin-top: 280px;
  } */
}

@media screen and (max-width: 992px) {
  .header .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 769px) {
  .hero_content h1 {
    font-size: 5.75em;
  }

  .hero_links a {
    font-size: 1em;
  }

  .hero,
  #page_header {
    padding: 200px 50px 0px 50px;
  }

  .custom_services .service {
    padding: 20px;
  }
}

@media screen and (max-width: 660px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .hero,
  #page_header {
    padding: 200px 30px 0px 30px;
  }

  #page_header .hero_content {
    padding-bottom: 40px;
  }

  .hero_content h1 {
    font-size: 4.75em;
    margin-bottom: 30px;
  }

  .footer .subscribe {
    flex-direction: column;
  }
}

@media screen and (max-width: 470px) {
  .hero_content h1 {
    font-size: 3.75em;
  }

  .full_height {
    padding: 350px 0 400px;
    min-height: 100vh;
  }

  .about_holdings_content_right p.intro {
    font-size: 1.725em;
  }
}

@media screen and (max-width: 426px) {
  .header .menu-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero_links a {
    font-size: 0.85em;
  }

  .left_contents,
  .right_contents {
    text-align: center;
  }

  .left_contents {
    margin-bottom: 15px;
  }

  .custom_services .custom_ul {
    padding-left: 15px;
  }
}

@media screen and (max-width: 376px) {
  .header .menu-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .hero,
  #page_header {
    padding: 200px 15px 0px 15px;
  }
  .hero_content h1 {
    font-size: 3.25em;
  }

  .main_title.font_lg {
    font-size: 2.5em;
  }

  .full_height {
    padding: 420px 0 450px;
    min-height: 100vh;
  }

  .about_holdings_content_right p.intro {
    font-size: 1.5em;
  }
}
